In [4]:
# Prepare input data for testing the prediction service
from sklearn import svm
from sklearn import datasets

# Load training data
iris = datasets.load_iris()
X, y = iris.data, iris.target

# Model Training
clf = svm.SVC(gamma='scale')
clf.fit(X, y)
import pandas as pd
test_input_df = pd.DataFrame(X).sample(n=5)
test_input_df.to_csv("./test_input.csv", index=False)
test_input_df

       0    1    2    3
72   6.3  2.5  4.9  1.5
144  6.7  3.3  5.7  2.5
73   6.1  2.8  4.7  1.2
45   4.8  3.0  1.4  0.3
146  6.3  2.5  5.0  1.9

In [9]:
import requests
response = requests.post(
    "http://127.0.0.1:5000/predict",
    json=test_input_df.values.tolist()
)
print(response.text)

[1, 2, 1, 0, 2]